@font-face {
    font-family: myFont;
    src: url(./harry_p/myFont.TTF);
}



body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-family: myFont;
    background-image: url(./background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex {
    display: flex;
    justify-content: center;

}

.title
.displayTurn
.buttons {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    font-size: 2rem;
    color: #fff;
    text-shadow: 0 0 7px, 0 0 10px, 0 0 21px #fff, 0 0 42px #2d2f3a,
    0 0 82px #2d2f3a, 0 0 92px #2d2f3a, 0 0 102px #2d2f3a, 
    0 0 151px #2d2f3a;
}

.title {
    justify-content: center;
    padding-top: 1.5rem;
    font-size: 7rem;
    text-align: center;
    margin: 0;
    padding-bottom: 0.5rem;
    
}
.displayTurn {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0;
}

.buttons {
    display: flex; 
    justify-content: center; 
    gap: 15rem; 
    padding: 1rem; 
  }
  
  #restartBtn, #resetBtn {
    font-size: 3rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    text-align: center;
    background-color: rgba(201, 201, 201, 0.678);
    color: black;
    box-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 40px #fff,
      0 0 80px rgba(0, 255, 170, 0.485), 0 0 90px rgba(0, 255, 170, 0.352);
    transition: transform 0.3s ease-in-out;
  }
  
  #restartBtn:hover, #resetBtn:hover {
    transform: scale(1.1); 
  }
.gameWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}
.gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
    padding-top: 5rem;
    width: 25vw;
    height: 25vw;
}
.box {
    width: auto;
  height: auto;
  min-width: 50px;
  min-height: 50px;
  border-radius: 1rem;
  font-size: max(4vw, 3rem);
  display: flex;
  padding-top: 30px;
  align-items: center;
  text-align: center;
  padding-left: 1.6vw;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #1f1d20,
    0 0 0.8rem #1f1d20, 0 0 2.8rem #1f1d20, inset 0 0 1.3rem #1f1d20;
  color: #fff;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.player1 {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 25px #0fa;
  }
  .player2 {
    font-size: max(4vw, 3rem);
  
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 25px rgb(54, 40, 48);
  }
  .box:hover {
    transform: scale(1.1);
  }

  @media only screen and (max-width: 1000px) {
    .gameWrapper {
      width: 100vw;
    }
    .gameboard {
      width: auto;
    }
  }
  
  .model-wrapper {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    width: 150vw;
    height: 150vh;
    align-items: center;
    position: fixed; /* Stay in place */
  }
  
  .model {
    display: flex; 
    position: fixed; 
    z-index: 5; 
    left: 0;
    top: 0;
    width: 100%; 
    height: fit-content;
    font-size: max(0vh, 0px);
  }
  .model-content,
.front-content {
  background-color: rgba(93, 192, 151, 0.164);
  text-align: center;
  width: 100%; /* Could be more or less, depending on screen size */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: thin;
  border-radius: 20px;
  color: #fff;
  text-shadow: 0 0 7px #323338, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #323338;
}

.front-content {
  margin: 27vh auto;
  border: none;
  width: auto;
  border-radius: 0px;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 2rem 5rem 2rem 5rem;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #252227,
    0 0 0.8rem #252227, 0 0 2.8rem #252227, inset 0 0 1.3rem #252227;
  min-height: 100%;
  display: flex;
  justify-content: center;
}

.front:hover,
.front:focus {
  color: black;
  cursor: pointer;
}
.inputField {
    display: flex;
    font-size: max(3vw, 25px);
    width: 100%;
    padding-bottom: 3rem;
    align-items: center;
  }
  .formClass {
    height: 2rem;
    margin-left: 2rem;
    background-color: rgba(201, 201, 201, 0.678);
    border: 0.1rem solid #fff;
    border-radius: 1rem;
    box-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 40px #fff,
      0 0 80px rgba(0, 255, 170, 0.485), 0 0 90px rgba(0, 255, 170, 0.352);
    padding: 0.5rem;
    color: black;
    font-size: 2rem;
    text-shadow: 0 0 7px #744e4e9b, 0 0 10px rgb(124, 88, 88);
    width: 50%;
  }
  .input-label {
    min-width: 50%;
  }
  .radio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 200px;
  }
  input[type="radio"] {
    border: 0px;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 2rem;
  }
  
  .startButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 200px;
    outline: none;
    background-color: rgba(201, 201, 201, 0.678);
    border: 0.1rem solid #fff;
    border-radius: 1rem;
    box-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 40px #fff,
      0 0 80px rgba(0, 255, 170, 0.485), 0 0 90px rgba(0, 255, 170, 0.352);
    text-shadow: 0 0 3px #4ee60e9b, 0 0 10px rgb(0, 255, 21);
    color: rgb(18, 64, 26);
    font-size: 1.5rem;
    font-weight: 500;
  }
  .startButton:hover {
    cursor: pointer;
  }
  
